.navbar {
  overflow: hidden;
  background-color: #333;
  text-align: center;
  width: auto;
  margin: 0 auto;
}

.buttons button,
.buttons .drop-down {
  display: inline-block;
}

.navbar-contents {
  border: none;
  outline: none;
  padding: 16px 14px;
  background-color: inherit;
  color: white;
  margin: 3px;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
}

.navbar-contents:hover {
  background-color: #8bc7b8;
}

.drop-down-btn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.drop-down-content {
  position: absolute;
  background-color: #8bc7b8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
  border-top: 4px solid #333;
}

.drop-down-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.drop-down-content a:hover {
  background-color: #ddd;
}

.drop-down:hover .drop-down-content {
  display: block;
}

.drop-down:hover {
  background-color: #8bc7b8;
}

.navbar-slider {
  color: white;
  font-size: 18px;
  display: inline-block;
  margin: 3px;
}
